@model IEnumerable<WebAppWithAsync.STUDENT_TBL>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.STD_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.STD_FATHER_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.STD_CLASS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.STD_MOBILENUMBER)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.STD_CITY)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.STD_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.STD_FATHER_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.STD_CLASS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.STD_MOBILENUMBER)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.STD_CITY)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.STD_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.STD_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.STD_ID })
        </td>
    </tr>
}

</table>
